/* default */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

a.btn.bluebtn {
    background: #006ae1;
    color: #fff;
    border-radius: 10px;
}
a.btn.whitebtn {
    background: #fff;
    color: #006ae1;
    border-radius: 10px;
}
a.btn.greenbtn {
    background: #008600;
    color: #fff;
    border-radius: 10px;
  }
  .btn.greenbtn {
    background: #008600;
    color: #fff;
    border-radius: 10px;
  }
a.btn.greybtn {
    color: #515257;
    background: #dcdee1;
    border-radius: 10px;
  }
  .btn.greybtn {
    color: #515257;
    background: #dcdee1;
    border-radius: 10px;
  }
a.btn.lightbluebtn {
    color: #fff;
    background: #1a99d2;
    border-radius: 10px;
  }
/* default */

/* nav bar header */
header nav.navbar .navbarbtntop { border: 1px solid #006ae1; color: #006ae1; padding: 3px 15px; border-radius: 10px; font-size: 14px;}
header nav.navbar .navbarbtntop span.venuecount { background: #1daa42; color: #fff; position: absolute; top: -10px; right: 0px; height: 20px; width: 20px; font-size: 12px; border-radius: 100px; line-height: 20px;}
header nav.navbar { padding: 0; background-color: #e9edef;}
header nav.navbar .navbar-right-content { display: flex; align-items: center;}
header nav.navbar .navbar-right-content i.settingsiconnavbar { margin: 0px 15px; color: #006ae1; }
header nav.navbar .navbar-right-content a.headerlinkslogin { font-size: 14px; text-decoration: none; margin: 0 10px 0 0px; }
header nav.navbar a.nav-link { display: block; padding: 10px !important; margin-top: 16px; color: #1a2026; font-weight: 400; font-size: 14px; text-align: center;}
header nav.navbar a.nav-link.active { background: #fff; color: #1a2026; font-weight: 700; border-top: 3px solid #006ae1; border-left: 1px solid #cad0d3; border-right: 1px solid #cad0d3; margin-bottom: -1px;}
header .bottom-bar { text-align: center; background: #fff; margin-top: 60px;}
header .bottom-bar .content { padding: 10px 0px; }
header .bottom-bar .content h1 { margin: 0; font-size: 21px; color: #1a2026;}
header .bottom-bar .content p { color: #69717a; margin-bottom: 0; font-size: 14px; }


header .single-venue-fix-bottom-bar { text-align: left; background: #fff; margin-top: 60px; box-shadow: 0 2px 4px rgba(0,0,0,.2);}
header .single-venue-fix-bottom-bar .content { padding: 10px 0px; }
header .single-venue-fix-bottom-bar .content h1 { margin: 0; font-size: 21px; color: #1a2026;}
header .single-venue-fix-bottom-bar .content p { color: #69717a; margin-bottom: 0; font-size: 14px; }
header .single-venue-fix-bottom-bar h1.svfbb_heading { font-size: 22px; }
header .single-venue-fix-bottom-bar p.svfbb_text { font-size: 14px; margin: 0; }
header .single-venue-fix-bottom-bar ul { text-align: end; padding: 0; list-style: none; margin:0; }
header .single-venue-fix-bottom-bar a.svfbb_link { font-size: 12px; text-decoration: none; }
header .single-venue-fix-bottom-bar a.svfbb_link_right { font-size: 12px; text-decoration: none; color: #000; }


.single-venue-fix-bottom-bar { text-align: left; background: #fff; margin-top: 60px; box-shadow: 0 2px 4px rgba(0,0,0,.2);}
.single-venue-fix-bottom-bar .content { padding: 10px 0px; }
.single-venue-fix-bottom-bar .content h1 { margin: 0; font-size: 21px; color: #1a2026;}
.single-venue-fix-bottom-bar .content p { color: #69717a; margin-bottom: 0; font-size: 14px; }
.single-venue-fix-bottom-bar h1.svfbb_heading { font-size: 22px; }
.single-venue-fix-bottom-bar p.svfbb_text { font-size: 14px; margin: 0; }
.single-venue-fix-bottom-bar ul { text-align: end; padding: 0; list-style: none; margin:0; }
.single-venue-fix-bottom-bar a.svfbb_link { font-size: 12px; text-decoration: none; }
.single-venue-fix-bottom-bar a.svfbb_link_right { font-size: 12px; text-decoration: none; color: #000; }


header nav.navbar .venuelistdropdownparent { width: 300px; left: -50%; top: 40px; padding: 0; }
header nav.navbar .venuelistdropdownparent .venuelistdropdown h3 { font-size: 15px; }
header nav.navbar .venuelistdropdownparent .venuelistdropdown p { font-size: 12px; margin-bottom: 10px; }

header nav.navbar .venuelistdropdownparent .venuelistdropdown .venue-card { display: flex; align-items: center;}
header nav.navbar .venuelistdropdownparent .venuelistdropdown .venue-card img { width: 80px; height: 80px; border-radius: 10px;}
header nav.navbar .venuelistdropdownparent .venuelistdropdown .venue-card  .cont-box { margin-left: 10px; }
header nav.navbar .venuelistdropdownparent .venuelistdropdown .venue-card .cont-box p.hotel-name { margin-bottom: 0; }
header nav.navbar .venuelistdropdownparent .venuelistdropdown .venue-card .cont-box p.hotel-location { margin-bottom: 0; }
header nav.navbar .venuelistdropdownparent .venuelistdropdown .venue-card .cont-box .cont-box-remove-btn { font-size: 12px; text-decoration: none; }
header nav.navbar .venuelistdropdownparent .venuelistdropdown { padding: 20px;}
header nav.navbar .venuelistdropdownparent .venuelistdropdownfooter { background: #efefef; margin-top: 10px; text-align: center; padding: 10px; }
header nav.navbar .venuelistdropdownparent .venuelistdropdownfooter p { font-size: 12px; }
header nav.navbar .venuelistdropdownparent .venuelistdropdownfooter a.btn { font-size:12px; width: 100%; background: #006ae1; color: #fff; border-radius: 10px; margin-bottom: 10px;}
header nav.navbar .navbar-toggler-icon { line-height: normal; border: 1px solid #000;}

header.mobilenav { display: none;}
/* nav bar header */


/* banner with filter */

section.banner-with-search { height: 540px; background: url(../img/bann.webp); background-repeat: no-repeat; position: relative;}
section.banner-with-search .filter-bar { padding-top: 5%;}
section.banner-with-search .filter-bar ul {background: rgba(34, 40, 42, .8);padding: 25px 20px;border-radius: 10px;list-style: none;display: flex;align-items: center;}
section.banner-with-search .filter-bar button.btn.search-btn { background: #006ae1; color: #fff; }
section.banner-with-search .banner-bottom-box { position: absolute; bottom: 0; background: rgba(34, 40, 42, .8); padding: 20px; left: 0; right: 0; margin: 0 auto; }
section.banner-with-search .banner-bottom-box p { color: #fff; margin-bottom: 10px; font-size: 14px; }
section.banner-with-search .banner-bottom-box a { color: #fff; margin-bottom: 0; font-size: 14px;}
section.banner-with-search .banner-bottom-box a.btn.bluebtn { float: right; }
section.banner-with-search .filter-bar button.dropbtn {background: transparent;border: none;margin-top: 5px;color: #6c7589;width: 100%;text-align: left;}
section.banner-with-search .filter-bar .conboxcstelm ul {background: #fff;display: block;text-align: left;}
section.banner-with-search .filter-bar .dropdown { position: relative; display: inline-block;}
section.banner-with-search .filter-bar .dropdown-content { display: none; position: absolute; background-color: #f1f1f1; min-width: 160px; overflow: auto; box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); z-index: 1;}
section.banner-with-search .filter-bar .dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; font-size: 14px; }
section.banner-with-search .filter-bar .dropdown a:hover { background-color: #ddd; }
section.banner-with-search .filter-bar .show { display: block; }
section.banner-with-search .filter-bar li.filterone { width: 30%; }
section.banner-with-search .filter-bar li.filtertwo { width: 20%; position: relative; }
section.banner-with-search .filter-bar li.filtertwo span { position: absolute; color: #fff; font-size: 10px; transform: translate(0px, 5px);}
section.banner-with-search .filter-bar li.filterthree { width: 20%; position: relative;}
section.banner-with-search .filter-bar li.filterthree span { position: absolute; color: #fff; font-size: 10px; transform: translate(0px, 5px);}
section.banner-with-search .filter-bar li.filterfour { width: 15%; position: relative; }
section.banner-with-search .filter-bar li.filterfour span { position: absolute; color: #fff; font-size: 10px; transform: translate(0px, 5px); display: block;}
section.banner-with-search .filter-bar li.filterfour .dropdown { background: #fff; height: 100%; width: 100%; text-align: center;}
section.banner-with-search .filter-bar li.filterfive { width: 15%; }
section.banner-with-search .filter-bar li.filterfive button.btn.search-btn { float: right; width: 90%; border-radius: 10px; }
section.banner-with-search .filter-bar input.form-control.event_filters { height: auto; padding: 10px; border-radius: 0; border: none; border-right: 1px solid #ddd; border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
section.banner-with-search .filter-bar input.form-control.startdate_filters { padding: 10px; border: none; border-radius: 0px; border-right: 1px solid #ddd; }
section.banner-with-search .filter-bar input.form-control.enddate_filters { padding: 10px; border: none; border-radius: 0px; border-right: 1px solid #ddd; }
section.banner-with-search .filter-bar li.filterfour .dropdown { background: #fff; height: auto; width: 100%; padding: 8px; border: none; font-size: 14px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
/* banner with filter */

/* discover section */
section.discover-section { margin: 50px 0; }
section.discover-section .content_section { margin: 0 0 50px 0; }
section.discover-section .content_section h2 { font-weight: 400; color: #1a2026; font-size: 1.5em; text-align: center; }
section.discover-section .content_section p { font-weight: 400; color: #1a2026; font-size: 14px; text-align: center;}
section.discover-section .discover-left-box img { border-radius: 20px; }
section.discover-section .discover-left-box { position: relative; }
section.discover-section .discover-left-box img { border-radius: 20px; }
section.discover-section .abs-content-box a { text-decoration: none; font-size: 14px; }
/* discover section */



/* news section */
section.whats-new-section .newscard { margin-bottom: 40px; text-align: center; }
section.whats-new-section .content_section h2{font-size: 1.5em; font-weight: 400; line-height: 2.125em; text-align: center; margin-bottom: 1.625em;}
section.whats-new-section .newscard .newsheading { margin-top: 10px; }
section.whats-new-section .newscard .newsheading a { font-size: 14px; text-decoration: none; color: #006ae1; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
section.whats-new-section .newscard .newscardimagebox { position: relative; }
section.whats-new-section .newscard .newscardimagebox img { border-radius: 10px; }
section.whats-new-section .newscard .newsdate { margin: 0 auto; background: #fff; width: 50%; border-top-left-radius: 60px; border-top-right-radius: 60px; text-align: center; position: absolute; left: 0; right: 0; bottom: 0; }
section.whats-new-section .newscard .newsdate p { margin-bottom: 0px; padding: 5px 0; font-size: 14px; color: #69717a; }
section.whats-new-section a.showmoreblueoutlinebtn { margin: 0 auto; display: table; background: #fff; border: 1px solid #006ae1; padding: 5px 10px; border-radius: 10px; text-decoration: none; color: #006ae1; }
/* news section */


/* discover section */
.discover-section .abs-content-box {width: 45%;background: #fff;position: absolute;top: 15%;right: 0;border: 1px solid #efefef;padding: 30px;border-radius: 20px;}
.discover-section .abs-content-box h3 {font-size: 20px;text-align: left; }
.discover-section .abs-content-box p { color: #69717a; font-size: 14px; font-weight: 400; line-height: normal; padding-top: 1em; padding-bottom: 3em; word-break: break-word; text-overflow: ellipsis; overflow: hidden; display: -webkit-box !important; -webkit-line-clamp: 6; -webkit-box-orient: vertical; white-space: normal; text-align: left; }
.discover-section .custcard { display: flex; align-items: center; box-shadow: 0 4px 16px -4px rgba(0,0,0,.1); padding: 10px 20px; margin-bottom: 10px; border-radius: 10px; }
.discover-section .custcardcontent { margin-left: 10px; }
.discover-section .custcard h3 { font-size: 18px; font-weight: 400; }
.discover-section .discover-section .custcard p { text-align: left; font-size: 12px; margin-bottom: 30px;}
.discover-section .custcardcontent a { text-decoration: none; font-size: 14px; }
.discover-section .custcard img {height: auto; width: 200px; object-fit: cover; border-radius: 10px;}
/* discover section */

/* browse section */
section.browse-events-section a.showmoreblueoutlinebtn { background: #fff; padding: 5px 10px; border-radius: 10px; margin: 40px auto 0 auto; display: table; border: 1px solid #006ae1; color: #006ae1; text-decoration: none; }
section.browse-events-section { background: #1a2026; padding: 50px 0; margin: 50px 0 0 0px; }
section.browse-events-section ul { list-style: none; padding: 0px;}
section.browse-events-section ul li { color: #fff; font-size: 13px; font-style: normal; font-weight: 400; line-height: normal; margin-bottom: 20px; }
section.browse-events-section .content_section h2 { color: #fff; font-size: 1.5em; font-weight: 400; line-height: 2.125em; text-align: center; margin-bottom: 1.625em; }
/* browse section */

/* footer */
footer { background: #f7f8f9; padding: 30px 0px; border-top: 1px solid #ddd; }
footer ul { padding: 0; list-style: none; }
footer ul li a { color: #94969f; font-size: 14px; font-weight: 400; text-decoration: none; }
.footer-bottom-text .footerbottom-text p { text-align: center; font-size: 14px; line-height: 1.42857143; color: #94969f; }
/* footer */


/* inner result page */

header.desktopnav.header-inner .bottom-bar {padding: 10px;box-shadow: 0 2px 4px rgba(0,0,0,.2); z-index: 1;}
header.desktopnav.header-inner .bottom-bar .input-group { border: 1px solid #006ae1; border-radius: 10px;padding: 5px;}
header.desktopnav.header-inner .bottom-bar .input-group input { border: none; border-radius: 10px; }
header.desktopnav.header-inner .bottom-bar .input-group .btn { border: none; color: #006ae1; }
header.desktopnav.header-inner .bottom-bar .bottombar-venues-count { text-align: right; }
header.desktopnav.header-inner .bottom-bar .bottombar-venues-count p { margin: 0; }
header.desktopnav.header-inner .bottom-bar ul.bottombar-venues-count-list { padding: 0; list-style: none; display: flex; align-items: center; margin: 0; justify-content: end;}
header.desktopnav.header-inner .bottom-bar ul.bottombar-venues-count-list li { margin-right: 10px; }


section.results-page-main-section{ background: #f7f8f9; }


.left-side-bar {padding: 10px 0px;background: #f7f8f9;padding-top: 150px;padding-bottom: 100px;}
.left-side-bar p.address { font-size: 14px; padding:0px 10px; }
.left-side-bar .map-box { position: relative; margin-bottom: 20px; padding: 0 10px;}
.left-side-bar .map-box a.btn.bluebtn { position: absolute; left: 0; right: 0; width: 50%; top: 30%; margin: 0 auto; }

.left-side-bar .accordion_cstelem_oneclss button.accordion-button {padding: 5px 10px;background: transparent;color: #212529;}

.left-side-bar .accordion-button:not(.collapsed) { box-shadow: none; }

.left-side-bar .accordion_cstelem_oneclss label { width: 100%; }
.left-side-bar .accordion_cstelem_oneclss label span.unti_CHSYB13_w324 { text-align: right; float: right;}
.left-side-bar .accordion_cstelem_oneclss h4 { font-size: 14px; font-weight: 400; }
.left-side-bar .accordion_cstelem_oneclss a.btn.bluebtn { width:100%; margin-top: 10px; }
.left-side-bar .accordion_cstelem_oneclss .accordion-item {background-color:transparent;border-radius: 0;padding: 5px 0 5px 0;border: none;border-bottom: 1px solid #cad0d3;}
.left-side-bar .form-check label.form-check-label { font-size: 14px; }
.left-side-bar .resetfiltests_cstelms_wrapper a.restallfilters_cst_elms { text-decoration: none; color: #006ae1; margin: 0 0 50px 0; }

.accordion_cstelem_oneclss ul.filters__start__date__end__date { padding: 0; list-style: none; display: flex; align-items: center; }
.accordion_cstelem_oneclss ul.filters__start__date__end__date li input {border: 1px solid #ddd;width: 100%;}
.accordion_cstelem_oneclss ul.filters__start__date__end__date li {margin: 0 10px 0 0px;}
.accordion_cstelem_oneclss ul.Promotionsorneeddates_wrapper {padding: 0;list-style: none;display: flex;margin: 0;align-items: center;border-bottom: 1px solid #ddd;margin-bottom: 10px;}
.accordion_cstelem_oneclss ul.Promotionsorneeddates_wrapper p {font-size: 12px; margin: 0; line-height: normal;}
.accordion_cstelem_oneclss ul.Promotionsorneeddates_wrapper h4 {font-size: 12px;margin-bottom: 0;line-height: normal;}
.accordion_cstelem_oneclss ul.Promotionsorneeddates_wrapper a {font-size: 12px; text-decoration: none; line-height: normal; }
.accordion_cstelem_oneclss ul.Promotionsorneeddates_wrapper li.first { width: 50%; }
.accordion_cstelem_oneclss ul.Promotionsorneeddates_wrapper li.second { width: 15%; text-align: center; }

.accordion_cstelem_oneclss ul.cancelandapplybtns { padding: 0; list-style: none; display: flex; align-items: center; }
.accordion_cstelem_oneclss ul.cancelandapplybtns li { width: 50%; }
.accordion_cstelem_oneclss .chainbox-wrapper { border: 1px solid #efefef; padding: 5px; }

.ratingfilter_wrapper { padding:0px 10px; }
.ratingfilter_wrapper .filter-rating-box h4 { font-size: 16px; font-weight: 400; }

.venue-capabilities-box { padding: 0 10px; }
.resetfiltests_cstelms_wrapper {padding: 10px 10px;border-bottom: 1px solid #cad0d3;}

.accordion_cstelem_oneclss ul.minmax___input___list { padding: 0; list-style: none; display: flex; }
.accordion_cstelem_oneclss ul.minmax___input___list li { width: 100%; }
.accordion_cstelem_oneclss ul.minmax___input___list li input { width: 90%; }

.capactity_calculator_box { padding: 0 10px; }
.capactity_calculator_box a.capclaculator { width: 100%; background: #fff; display: block; text-align: center; margin: 20px 0; border: 1px solid #006ae1; border-radius: 10px; padding: 10px; text-decoration: none;}
.capactity_calculator_box a.capclaculator:hover { background: #006ae1; color: #fff;}

.cstemlfilterrangeslider .slider-box {width: 90%; margin: 25px auto}
.cstemlfilterrangeslider label, input {border: none; display: inline-block; margin-right: -4px; vertical-align: top; width: 30%}
.cstemlfilterrangeslider input {width: 70%; background-color: transparent;}
.cstemlfilterrangeslider .slider {margin: 15px 0;height: 50%;}
.cstemlfilterrangeslider span.ui-slider-handle.ui-corner-all.ui-state-default { border-radius: 100%; top: -10px; box-shadow: 1px 1px 1px 1px #ddd; }



/* center bar */
.center-bar { padding-top: 150px; }

.center-bar:after { content: ''; height: 100%; width: 1px; background: #ddd; display: block; position: absolute; right: 0; top: 0; }
.center-bar {position: relative;}

.center-bar:before { content: ''; height: 100%; width: 1px; background: #ddd; display: block; position: absolute; left: 0; top: 0; }
.center-bar {position: relative;}

.center-bar {padding: 10px 20px;background: #f7f8f9;padding-top: 150px;padding-bottom: 100px;height: 100%;}
.center-bar .venues_card {background: #fff;padding: 10px;border-radius: 10px;box-shadow: 0px 0px 5px 2px #ddd;cursor: pointer;margin-bottom: 10px;}
.center-bar .venues_card:hover { background: #e9edef; }
.center-bar .venues_card:hover .image-front-btn { display: block; }
.center-bar .venues_card:hover .venue-selected-wrapper { display: none; }

.center-bar ul.card-content-box-list { padding: 0; list-style: none; display: flex; margin: 10px 0 0 0; }
.center-bar ul.card-content-box-list li { width: 50%; }
.center-bar .card-content-box a { text-decoration: none; }
.center-bar .venues_card ul.card-content-box-list-item-left { padding: 0; list-style: none; }
.center-bar .venues_card ul.card-content-box-list-item-left li p { margin: 0; font-size: 12px; }
.center-bar .venues_card ul.card-content-box-list-item-left li p.greytext__cstelm0187 { color: #69717a; }
.center-bar .venues_card ul.card-content-box-list-item-right li p.greytext__cstelm0187 { color: #69717a; }
.center-bar .venues_card ul.card-content-box-list-item-right { padding: 0; list-style: none; }
.center-bar .venues_card ul.card-content-box-list-item-right li p { margin: 0; font-size: 12px; }

.center-bar .pagination__venues_cards .pagination { place-content: center; }

.center-bar .venues_card .card-img-box { position: relative; }
.center-bar .venues_card ul.image-front-btn {padding: 0;list-style: none;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: 0 auto;text-align: -webkit-center;width: 100%;height: 100%;background: #00000069;padding-top: 10%;display: none;border-radius: 10px;}
.center-bar .venues_card ul.image-front-btn .btn { width: 90%; margin-bottom: 10px; }
.center-bar .venues_card .card-img-box img { border-radius: 10px; }
.center-bar .venues_card .venue-selected-wrapper {color: #fff;position: absolute;bottom: 0;text-align: center;width: 100%;background: #008600;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;z-index: 1;}
.center-bar .pagination-bottom-text { text-align: center; }
.center-bar .pagination-bottom-text p { margin: 0; font-size: 13px; }
.center-bar .pagination-bottom-text p a { text-decoration: none; }


.capacity____calculator____wrapper a.btn.bluebtn {
  width: 100%;
  display: block;
  margin: 20px 0;
}

/* center bar */


/* right bar */
.right-side-bar{ padding: 150px 10px 0px 10px; }
.right-side-bar img.card-img-top { border-radius: 10px; }
.right-side-bar a.card__cst__right__elem-title { text-decoration: none; }
.right-side-bar p.card__cst__right__elem-text { font-size: 13px; margin: 10px 0 30px 0; }
.right-side-bar a.btn.bluebtn { width: 100%; }
/* right bar */

#quickviewmodal .quick__card__venue__abs__box { position: absolute; bottom: 0; left: 5%; }
#quickviewmodal .quick-view-card-image {position: relative;margin-bottom: 20px;}
#quickviewmodal .quick__card__venue__abs__box h3 { color: #fff; }
#quickviewmodal .quick__card__venue__abs__box p { color: #fff; }

#quickviewmodal a.btn.whitebtn { border: 1px solid; width: 100%; }
#quickviewmodal a.btn.greenbtn { border: 1px solid; width: 100%; }

#quickviewmodal ul.venue__specs__list { list-style: none; padding: 0; margin-top: 20px; }
#quickviewmodal ul.venue__specs__list li { font-size: 14px; }
#quickviewmodal p.venue__conten___cst___elms { font-size: 14px; margin: 20px 0; }
#quickviewmodal h5 { font-size: 16px; }

/* inner result page */


/* single venue page */
section.single-venue-gallery-sec { margin-top: 150px; position:relative; }
a.btn.btn-view-gallery { position: absolute; right: 2%; bottom: 5%; border: 1px solid #efefef; border-radius: 10px; color: #fff; }
section.single-venue-gallery-sec .gallery-wrapper img { margin: 10px 0; }

section.single-venue-details-nav { background-color: #fff; position: sticky; top: 145px; box-shadow: 0 2px 4px rgba(0,0,0,.2); padding: 10px 0px;}

section.single-venue-details-nav ul { padding: 0; list-style: none; display: flex; margin:0px; flex-flow: wrap;}
section.single-venue-details-nav ul li { width: auto; margin: 0 30px; }
section.single-venue-details-nav ul li a { font-size: 14px; text-decoration: none; color: #1a2026; }

a.naav-item.active { position: relative; }
a.naav-item.active:after { content: ''; background: #1daa42; height: 3px; width: 100%; display: block; position: absolute; bottom: -10px; }


section.venue-overview { padding: 50px 0; }
section.venue-overview .content h2 { font-size: 20px; }
section.venue-overview ul { padding: 0; list-style: none; }
section.venue-overview ul li { font-size: 15px; color: #69717a; }
section.venue-overview ul li a { color: #000; }
section.venue-overview ul li p { color: #000; margin: 0; }

section.near__by__section { padding-bottom: 40px; margin-top: 50px; }
section.near__by__section .content h2 { font-size: 20px; }
section.near__by__section .nearby__venue__name { text-decoration: none; }
section.near__by__section .nearby__venue__vimage { border-radius: 10px; margin: 20px 0; }
section.near__by__section .btn.bluebtn{width: 100%;}
section.near__by__section iframe { width: 100%; }

.moredetails___content { padding: 0 0 50px 0; }
.moredetails___content h4 { font-size: 20px; }
.moredetails___content p { font-size: 13px; }
.moredetails___content__right__box h4 { font-size: 20px; }
.moredetails___content__right__box a.btn.whitebtn { border: 1px solid; }
.moredetails___content__right__box p { font-size: 13px; margin: 20px 0 0 0; }
.moredetails___content__right__box a { text-decoration: none; }



.faqs-section h4.faq_heading_box { background: #efefef; padding: 5px 10px; font-size: 16px; }
.faqs-section .faq__box__wrapper { padding: 20px 0; }
.faqs-section .faq__box__wrapper p { margin: 30px 0 10px 0; font-size: 15px; color: #000; font-weight: 400; }
.faqs-section .faq__answer { color: #565656; }
/* single venue page */


/* submit request page */
section.request__info__section { background-color: #eee; padding: 20px; }
section.request__info__section .venues-cards-wrapper { background: #fff; padding: 40px; }
section.request__info__section .venues-cards-wrapper ul.card-content-box-list { padding: 0; list-style: none; display: flex; flex-flow: nowrap; }
section.request__info__section .delete___venue__btn___wrapper { position: absolute; right: 0; top: 0; }
section.request__info__section .venues_card { position: relative; }
section.request__info__section ul.card-content-box-list-item-left { padding: 0; list-style: none; }
section.request__info__section ul.card-content-box-list-item-left li p.greytext__cstelm0187 { margin: 0 0 10px 0; font-size: 14px; }
section.request__info__section ul.card-content-box-list-item-right { padding: 0; list-style: none; margin-left: 20px;}
section.request__info__section ul.card-content-box-list-item-right li p.greytext__cstelm0187 { margin: 0 0 10px 0; font-size: 14px; }
.continue___searching___wrapper {background: #fff;padding: 20px 30px;}
.continue___searching___wrapper__inner {background: #f2f2f2;padding: 20px;}
.continue___searching___wrapper p { margin-bottom: 0px; }
.bottom___btns___wrapper { margin-top: 50px; }
/* submit request page */



/* checkout page */

section.checkout-form-section { background: #eee; padding: 50px 0 50px 0; }
section.checkout-form-section .card { border: none; padding: 50px; }
section.checkout-form-section .card-header { padding: 0; background: #fff; border: none; margin-bottom: 20px; }
section.checkout-form-section a.nav-link.tab-pills.active { background: #318dba; color: #ddd; font-weight: 200; }
section.checkout-form-section a.nav-link.tab-pills.active span { background-color: #fff; color: #318dba; }
section.checkout-form-section a.nav-link.tab-pills span { border: 1px solid #ddd; padding: 5px; display: inline-block; height: 30px; width: 30px; line-height: normal; border-radius: 100%; margin-right: 10px; }
section.checkout-form-section a.nav-link.tab-pills { border-radius: 0; position: relative; padding: 5px 0; color: #b0b2b4; }
section.checkout-form-section a.nav-link.tab-pills.active:after { content: ''; height: 30px; width: 30px; background: #318dba; display: block; position: absolute; right: -5%; top: 13%; transform: rotate(45deg); border-top: 2px solid #fff; border-right: 2px solid #fff; z-index: 999; }
section.checkout-form-section .left-label-cstelms { font-size: 16px; letter-spacing: 0.5px; text-transform: uppercase; color: #318dba; }
section.checkout-form-section .radio-btn-wrapper { margin: 20px 0; }
section.checkout-form-section .input-label-wrapper { margin: 10px 0; }
section.checkout-form-section .radio-btn-wrapper input[type="radio"] { width: auto; margin: 0 5px 0 0px; vertical-align: baseline; }
section.checkout-form-section label.radio-inline { margin: 0 30px 0 0px; }
section.checkout-form-section .congratulations-message ul { padding: 0; list-style: none; column-count: 2; }
section.checkout-form-section .congratulations-message ul li i { color: #264c69; }
section.checkout-form-section .venue_card__cst___elms a { color: #264c69; font-size: 20px; text-decoration: none; }
section.checkout-form-section .card-footer{ background-color: transparent; }
section.checkout-form-section ul.details___privacypolicy__list { padding: 0; list-style: none; display: flex; }
section.checkout-form-section ul.details___privacypolicy__list li { margin: 0 20px 0 0px; }
section.checkout-form-section ul.details___privacypolicy__list li a { text-decoration: none; }
/* checkout page */

/* contact us page */
section.contactus-main-section { margin: 40px 0; }
section.contactus-main-section .contact-person-info-img { float: right; }
section.contactus-main-section .content_section { padding: 50px 0px; text-align: center; }
section.contactus-main-section ul.contact-person-info li {font-weight: bold;}
section.contactus-main-section ul.contact-person-info { margin: 0; }
section.contactus-main-section a.btn.playpricegamebtn { box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6)); border-radius: 0; background: #3d9be9; color: #fff; margin: 20px 0; width: 50%; padding: 10px; font-size: 30px; }

section.social-media-custom-section { margin: 50px 0px; }
section.social-media-custom-section p.smcs-content { text-align: center; }
section.social-media-custom-section ul.os-cstelm4i12_socialmedia_list { padding: 0; list-style: none; display: flex; flex-wrap: wrap; }
section.social-media-custom-section ul.os-cstelm4i12_socialmedia_list li { width: 25%; }
section.social-media-custom-section ul.os-cstelm4i12_socialmedia_list li img { width: auto; height: 50px; margin: 0 auto; display: table; }
section.social-media-custom-section .left-content-cus9327 p { margin: 0; }

section.magicteamandstaff-section { margin: 50px 0; }
section.magicteamandstaff-section p.text-8136 { color: #3d9be9; font-weight: 500; margin-bottom: 10px; }
section.magicteamandstaff-section .content_section { margin-bottom: 50px; }

.contact-team-sec ul.team-card-list { list-style: none; padding: 0 50px; }
.contact-team-sec ul.team-card-list li .teamcard { display: flex; flex-wrap: wrap; align-items: center; }
.contact-team-sec ul.team-card-list li .teamcard .tc___img-box { width: 40%; }
.contact-team-sec ul.team-card-list li .teamcard .tc___content-box { width: 60%; }
.contact-team-sec ul.team-card-list li .teamcard {margin-bottom: 50px;}
.contact-team-sec ul.team-card-list li .teamcard .tc___img-box img { width: 300px; height: 100%; }

.errormessageclasscstm{display: none;}

.game-iframe iframe { height: 100vh; width: 100%; border: 1px solid; }
.game-iframe { margin: 50px 0; }
/* contact us page */


/* special thanks */
section.special-thanks-section .content_sec h6 {text-align: center;color: #fc0;}
section.special-thanks-section .content_sec p { font-weight: bold; text-align: center; }
/* special thanks */


/* request page */

section.requestform-section__wrapper {
  margin: 5% 0;
}
/* request page */

/* media query */
@media screen and (max-width: 991px) {
  section.banner-with-search .filter-bar ul{ padding: 25px 10px; }
  section.banner-with-search .filter-bar li.filterfour { width: 20%; }
    section.banner-with-search .filter-bar button.btn.search-btn { font-size: 12px; padding: 10px 0; }
    section.discover-section .discover-left-box { margin-bottom: 50px; }
    section.banner-with-search .filter-bar ul { display: block; }
    section.banner-with-search .filter-bar li.filterone { width: 100%; margin-bottom:20px; }
    section.banner-with-search .filter-bar li.filtertwo { width: 100%; margin-bottom:20px; }
    section.banner-with-search .filter-bar li.filterthree { width: 100%; margin-bottom:20px; }
    section.banner-with-search .filter-bar li.filterfour { width: 100%; margin-bottom:20px; }
    section.banner-with-search .filter-bar li.filterfour .dropdown{border-radius: 0px;}
    section.banner-with-search .filter-bar input.form-control.event_filters{border-radius: 0px;}
    section.banner-with-search .filter-bar li.filterfive button.btn.search-btn { float: none; width: 100%; }
    section.banner-with-search .filter-bar li.filterfive { width: 100%; margin-top: 30px; }
    section.banner-with-search { height: 750px;}
    section.browse-events-section ul { text-align: center; }
    header nav.navbar .navbar-right-content { place-content: center; padding-bottom: 20px; }
    section.discover-section { margin: 50px 0; text-align: center; }
    .discover-section .abs-content-box {position: relative; width: 100%; }
    header.mobilenav { display: block; } 
    header.desktopnav { display: none; }
    header.mobilenav .bottom-bar { margin-top: 20px; box-shadow: -1px 6px 7px 1px #efefef; }

    .left-side-bar{ padding:30px 10px; }
    .center-bar{ padding: 30px 10px; }
    .right-side-bar{ padding: 30px 10px; }
    header.mobilenav .bottom-bar ul.bottombar-venues-count-list { margin: 0; padding: 0; list-style: none; }

    section.single-venue-gallery-sec{ margin-top: 50px; }
    .venue-overview img.gallery__photos { margin-bottom: 20px;}

    section.single-venue-details-nav ul { justify-content: center; }
    section.single-venue-details-nav ul li { width: auto; margin: 0 10px; }
    section.near__by__section .btn.bluebtn { margin-bottom: 20px; }

    section.request__info__section .venues-cards-wrapper .venues_card img { width: 100%; margin-bottom: 20px; }

    section.checkout-form-section .card { padding: 20px; }
    section.checkout-form-section a.nav-link.tab-pills{ width: 50%; }
    section.checkout-form-section a.nav-link.tab-pills.active:after{display: none;}

    section.contactus-main-section a.btn.playpricegamebtn{width: 100%;}
    .contact-team-sec ul.team-card-list li .teamcard .tc___img-box img { width: 200px; }

    section.single-venue-details-nav{top: 0;}

    .single-venue-fix-bottom-bar{margin-top: 0;position: relative;}

  }
  @media screen and (max-width: 767px) {
    .left-side-bar .map-box img { width: 100%;}
    .center-bar .venues_card .card-img-box img { border-radius: 10px; width: 100%;}
    .bottombar-venues-count p { margin: 10px 0 0 0; }

    section.contactus-main-section .contact-person-info-img { float: none; margin: 0 auto 20px auto; display: table; }
    section.social-media-custom-section ul.os-cstelm4i12_socialmedia_list { margin-top: 30px; }

    .contact-team-sec ul.team-card-list li .teamcard { display: block; }
    .contact-team-sec ul.team-card-list { list-style: none; padding: 0 0px; }
    .contact-team-sec ul.team-card-list li .teamcard .tc___img-box img { width: auto; margin-bottom: 20px; }
    .contact-team-sec ul.team-card-list li .teamcard .tc___img-box { width: 100%; }
    .contact-team-sec ul.team-card-list li .teamcard .tc___content-box { width: 100%; }
  }
  @media screen and (max-width: 425px) {
      ul.bottombar-venues-count-list { display: flex; justify-content: center; align-items: center; }
      .single-venue-details-nav a.naav-item.active:after{ bottom: 0; }
      .single-venue-gallery-sec a.btn.btn-view-gallery { right: 10%; }
      section.request__info__section ul.card-content-box-list-item-right{margin-left: 0;}
      .bottom___btns___wrapper { text-align: center; }
      .bottom___btns___wrapper .btn { margin-bottom: 10px; margin-top: 10px; }
      .continue___searching___wrapper p { margin-bottom: 20px; }
      section.checkout-form-section a.nav-link.tab-pills { width: 100%; }
  }
/* media query */


